html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.2px;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin:5vh 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 40rem;
    text-align: center;
}

header p {
    margin: 0;
    font-size: 16rem;
    text-align: center;
}

main {
    height: auto;
    font-size: 16rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#Clock {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1#timer {
    margin: 0;
    font-size: 100rem;
    line-height: 1;
    text-align: center;
}

p#timer-type {
    margin: 0;
    font-size: 16rem;
}

div#button-wrapper {
    margin: 35px 0 35px 0;
    display: flex;
}

button{
    width: 48px;
    height: 48px;
    margin: 5px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button i{
    margin: 0;
    padding: 0;
    font-size: 22rem;
}

section#LanguageSection {
    font-size: 16rem;
    text-align: center;
}

select{
    height: 48px;
    border-radius: 12px;
    font-size: 16rem;
    text-align: center;
}

footer {
    font-size: 12rem;
    text-align: center;
    position: absolute;
    bottom: 10px;
}
